<div class="row p-1">
  <div class="col-sm-12  text-center" [style.background-color]="hexColor">
    <p style="font-size: 120%; font-weight: bold; font-family: Consolas, Courier, monospace; color: rgb(255, 255, 255);margin-top:10px;margin-bottom:10px;">{{hexColor}}</p>

  </div>
    <div class="col-sm-4 text-center">
    
      <p>Red</p>
      <input type="range" id = "red" [min]="minValue" [max]="maxValue" [(ngModel)]="redValue" (input)="update()"  ><p>{{redColorValue}}</p>
    </div>
    <div class="col-sm-4 text-center">
      <p>Green</p>
      <input type="range" id ="green" [min]="minValue" [max]="maxValue"  [(ngModel)]="greenValue" (input)="update()" ><p>{{greenColorValue}}</p>
    </div>
    <div class="col-sm-4 text-center">
      <p>Blue</p>
      <input type="range" id = "blue" [min]="minValue" [max]="maxValue"  [(ngModel)]="blueValue" (input)="update()" ><p>{{blueColorValue}}</p>
    
    </div>
</div>
